<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="reset-pwd-box">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="30px">
                <mat-form-field>
                    <mat-label>Registered Email</mat-label>
                    <input matInput type="email" formControlName="email" required>
                    <mat-error *ngIf="f.email.errors?.required">Email is required!</mat-error>
                    <mat-error *ngIf="f.email.errors?.email">Should be a valid email!</mat-error>
                  </mat-form-field>
            </div>
        </mat-card-content>
        <div fxLayout="column">
            <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Submit</button>
        </div>
      </form>
      <h3>{{message}}</h3>
    </mat-card>
    
</div>